.App {}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-textarea {
  min-height: 50vh;
  min-width: 80vw;
  line-height: 1.0;
}

.App-lb {
  display: block;
}

.App-submit {
  display: block;
  min-width: 80vw;
  background-color: grey;
}

.App-submit:hover {
  background-color: white;
}

/* 盤面を正方形に近づける */
span.Stage {
  margin: 0 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    width: 100px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
